#about {
	background: lightgray;
}

.about__container {
	display: flex;
	justify-content: center;
}

.about__links {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.about__links a {
	color: black;
}
