.about__container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.about__container img {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	border: solid black 1px;
	margin: 0 20px;
}

.about__detail {
	max-width: 500px;
	min-width: 300px;
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about__links {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin-top: 10px;
}

.about__links a {
	color: black;
	margin: 0 1px;
}
