.navbar {
	position: sticky;
	top: 0;
}

.navbar__container {
	display: flex;
	flex-wrap: wrap;
	padding: 15px;
	width: 100%;
	color: white;
}

.navbar__header {
	font-weight: 400;
	font-size: large;
	margin: auto;
}

.navbar__links {
	display: flex;
	margin: auto;
	flex-wrap: wrap;
}

.navbar__links__item {
	list-style-type: none;
	margin: 0 10px;
}

.navbar__anchor:link,
.navbar__anchor:visited,
.navbar__anchor:active {
	color: white;
	text-decoration: none;
}

.navbar__anchor:hover {
	text-decoration: underline;
}
